body{
    background-image: url(./assets/background.jpg);
}

.paragraph{
    font-size: 20px;
    color: #ddd;
    margin-top: 25px;
}

.navbar{
    background-color: #423994;
}

.title{
    color: #fff;
}

.navbar-brand{
    font-weight: bold;
}

#bugs{
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 380px;
}

.list{
    font-size: 20px;
    color: #ddd;
    margin-left: 50px;
}

#backdrop{
    background-color: #112;
}

#blank{
    width: 800px;
    height: 700px;
    margin-top: 16em;
}

.mega{
    text-align: center;
    text-shadow: #222;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 43px;
    font-weight: bolder;
}
